.main {
  display: flex;
  /* width: 600px; */
  max-width: 90vw;
  margin: 0 auto;
  height: 100vh;
}

.productImageContainer {
  width: 500px;
  max-width: 90vw;
  margin: auto 10px;
}

.description {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  justify-content: space-around;
  align-items: flex-start;
}

.productImage {
  width: 500px;
  max-width: 90vw;
}

@media (max-width: 600px) {
  .main {
    display: flex;
    flex-direction: column;
    min-height: 600px;
    height: 600px;
  }
  .productImageContainer {
    margin: 0;
  }
}
